---
title: Movie Records
last_updated: October 21, 2024 at 5:41 PM
---
<link href="/stylesheets/records-style.css" rel="stylesheet" type="text/css">

<h2>Quick Navigation</h2>
<p>
  <% ('a'..'z').each do |letter| %>
    <a class="qn-link" href="#qn-<%= letter %>"><%= letter.upcase %></a>
  <% end %>
</p>

<h2>All Movies Watched</h2>
<table>
  <tr><th>Title</th><th>Year</th><th>Rating</th><th>Length</th></tr>
  <% alphabet = ('a'..'z').to_a %>
  <% alphabet_index = 0 %>
  <% nummode = true %>

  <% data.movies.each do |movie| %>
    <% current_letter = movie["Title"][0].upcase %>
    <% id_attr = "" %>
    <% if nummode && current_letter.match?(/[A-Z]/) %>
      <% nummode = false %>
      <% id_attr = ' id="qn-a"' %>
    <% end %>
    <% unless nummode %>
      <% while alphabet[alphabet_index].upcase != current_letter do %>
        <% alphabet_index += 1 %>
        <% if alphabet[alphabet_index] %>
          <% id_attr = ' id="qn-' + alphabet[alphabet_index] + '"' %>
        <% end %>
      <% end %>
    <% end %>
    <tr<%= id_attr %>>
      <td><%= movie["Title"] %></td>
      <td><%= movie["Year"] %></td>
      <td><%= movie["Rating"] %></td>
      <td><%= movie["Length"] %></td>
    </tr>
  <% end %>
</table>
