<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= current_page.data.title %> - egartley.net</title>
    <%= partial "header" %>
</head>
<body>
    <div class="root flex col">
        <div class="nav flex center-items">
            <%= partial "navigation" %>
        </div>
        <div class="content-container flex">
            <div class="page flex col">
                <span class="page-title"><%= current_page.data.title %></span>
                <div class="spacer"></div>
                <span class="small-text" id="meta"><span class="bold">Last updated:</span> <%= current_page.data.last_updated %> (EDT)</span>
                <%= partial "breadcrumbs" %>
                <div class="content">
                    <%= yield %>
                </div>
            </div>
        </div>
        <div class="footer flex">
            <span><a href="/sitemap">Sitemap</a> &bullet; Release <a href="https://github.com/egartley/net"><%= Time.now.strftime("%y.%m%d-%H%M") %></a> &bullet; Made in</span><img src="/images/lhXJgu568hz8UhGF/us.png">
        </div>
    </div>
</body>
</html>
