---
title: Theatrhythm Final Bar Line Scores
last_updated: February 3, 2024 at 5:04 PM
---

<link href="/stylesheets/tfbl-scores-style.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js" type="application/javascript"></script>
<p> </p>
<h2 style="display:inline">Navigate by Series</h2>
<style>span.showhide:hover {cursor: pointer;}</style>
<span class="showhide" onclick="p=$('p#navseries'),t=$(this);p.is(':visible')?p.slideUp()&t.html('Show'):p.slideDown()&t.html('Hide')">Hide</span>
<p id="navseries">
  <% lastseries = "" %>
  <% series_index = 0 %>
  <% data.tfblscores.each do |song| %>
    <% if song['Series'] != lastseries %>
      <% lastseries = song['Series'] %>
      <a href="#qn-s<%= series_index %>"><%= song['Series'] %></a><br>
      <% series_index += 1 %>
    <% end %>
  <% end %>
</p>

<div class="songcard-container flex col">
  <% last_series = "" %>
  <% series_index = 0 %>
  <% data.tfblscores.each do |song| %>
    <% start = '<div class="songcard flex col">' %>
    <% if last_series != song['Series'] %>
      <% last_series = song['Series'] %>
      <% start += '<span class="qn-link" id="qn-s' + series_index.to_s + '"></span>' %>
      <% series_index += 1 %>
    <% end %>
    <% song_type_span = song['Type'] == "Field" ? '' : '<span class="songcard-' + song['Type'].downcase + '">' + song['Type'] + '</span>' %>
    <%= start %>
    <span class="songcard-title flex">
      <%= song['Title'].gsub('Bra?', 'Bra&#9733;') %><%= song_type_span.html_safe %>
    </span>
    <span class="songcard-series"><%= song['Series'].gsub('Bra?', 'Bra&#9733;') %></span>
    <div class="songcard-scores flex">
      <span class="songcard-beginner"><%= song['Basic'] %></span>
      <span class="songcard-expert"><%= song['Expert'] %></span>
      <span class="songcard-ultimate"><%= song['Ultimate'] %></span>
      <% if song['Supreme'] != '-' %>
        <span class="songcard-supreme"><%= song['Supreme'] %></span>
      <% end %>
    </div>
    </div>
  <% end %>
</div>
