---
title: Game Records
last_updated: October 20, 2024 at 4:27 PM
---
<link href="/stylesheets/game-records-style.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js" type="application/javascript"></script>
<script src="/javascripts/game-records.js" type="application/javascript"></script>


<p>This is a record of every game I've played since 2006 or so. Each game has a rating out of 5, a rough estimate of total play time, and number of playthroughs (if more than one). Games that have been 100% completed include a tag next to the title, as well as those where I've gotten its platinum trophy on PSN. A vast majority of games were played on original hardware, but some of the older titles were emulated on PC.</p>
<p>Click on a game to view more details about it. Some will have notes about how good or bad it was, why they may have been abandoned, and other things like that.</p>

<h2>Statistics</h2>
<div class="stat-container">
  <% stat_ratings = {5 => 0, 4.5 => 0, 4 => 0, 3.5 => 0, 3 => 0, 2.5 => 0, '2 stars or below' => 0} %>
  <% stat_platforms = {"PS4/PS5" => 0, "PS1/PS2" => 0, "Nintendo DS/3DS" => 0, "Nintendo Switch" => 0, "Nintendo Wii" => 0, "PC" => 0, "Other" => 0} %>
  <% stat_completion = {"100% Complete" => 0, "Platinum Trophy" => 0} %>

  <% data.games.each do |game| %>
    <% rating = game['Rating'].to_f %>
    <% platform = game['Platform'] %>
    <% if rating >= 5 %>
      <% stat_ratings[5] += 1 %>
    <% elsif rating >= 4.5 %>
      <% stat_ratings[4.5] += 1 %>
    <% elsif rating >= 4 %>
      <% stat_ratings[4] += 1 %>
    <% elsif rating >= 3.5 %>
      <% stat_ratings[3.5] += 1 %>
    <% elsif rating >= 3 %>
      <% stat_ratings[3] += 1 %>
    <% elsif rating >= 2.5 %>
      <% stat_ratings[2.5] += 1 %>
    <% else %>
      <% stat_ratings['2 stars or below'] += 1 %>
    <% end %>

    <% if ["PlayStation 4", "PlayStation 5"].include?(platform) %>
      <% stat_platforms["PS4/PS5"] += 1 %>
    <% elsif ["PlayStation 1", "PlayStation 2"].include?(platform) %>
      <% stat_platforms["PS1/PS2"] += 1 %>
    <% elsif ["Nintendo 3DS", "Nintendo DS", "Nintendo DSi", "DSiWare"].include?(platform) %>
      <% stat_platforms["Nintendo DS/3DS"] += 1 %>
    <% else %>
      <% if stat_platforms.key?(platform) %>
        <% stat_platforms[platform] += 1 %>
      <% else %>
        <% stat_platforms["Other"] += 1 %>
      <% end %>
    <% end %>

    <% stat_completion["100% Complete"] += 1 if game['100%'] %>
    <% stat_completion["Platinum Trophy"] += 1 if game['Platinum'] %>
  <% end %>

  <div class="stat">
    <span class="bold">Platforms</span><br>
    <% stat_platforms.each do |platform, count| %>
      <%= "#{platform} (#{count})" %><br>
    <% end %>
  </div>
  <div class="stat">
    <span class="bold">Ratings</span><br>
    <% stat_ratings.each do |rating, count| %>
      <%= "#{rating} stars (#{count})" %><br>
    <% end %>
  </div>
  <div class="stat">
    <span class="bold">Completion</span><br>
    <% stat_completion.each do |completion, count| %>
      <%= "#{completion} (#{count})" %><br>
    <% end %>
  </div>
</div>
<p>Total games: <%= data.games.size %></p>

<h2>All Games Played</h2>

<label for="sortby">Sort games by:</label>
<select name="sortby" id="sortby" style="margin-right:12px">
  <option selected="selected" value="titleAZ">Title A-Z (Default)</option>
  <option value="titleZA">Title Z-A</option>
  <option value="yearUp">Year (Ascending)</option>
  <option value="yearDown">Year (Descending)</option>
  <option value="ratingUp">Rating (Ascending)</option>
  <option value="ratingDown">Rating (Descending)</option>
  <option value="hoursUp">Hours (Ascending)</option>
  <option value="hoursDown">Hours (Descending)</option>
</select>
<label for="filter">Filter: </label>
<select name="filter" id="filter" style="margin-right:12px">
  <option selected="selected" value="none">None (Default)</option>
  <option value="platform">Platform</option>
  <option value="rating">Rating</option>
  <option value="year">Release Year</option>
  <option value="hours">Hours Played</option>
  <option value="playthroughs">Playthroughs</option>
  <option value="hundo">100% Completion</option>
  <option value="plat">Platinum Trophy</option>
</select>
<label class="filterby" style="display:none" for="filterby">THISSHOULDNOTBEVISIBLE</label>
<select name="filterby" class="filterby" style="display:none">
  <option selected="selected" value="itsnotworkingbud">None (Default)</option>
</select>

<div class="gamecard-container flex">
  <% data.games.each do |row| %>
    <%
      game = {
        title: row['Title'],
        year: row['Year'],
        platform: row['Platform'],
        rating: row['Rating'],
        hundo: row['100%'],
        plat: row['Platinum'],
        iconid: row['Icon ID'].rjust(6, '0'),
        hours: row['Hours Played'],
        playthroughs: row['Playthroughs'],
        dlc: row['DLC']
      }
    %>
    <div class="gamecard flex card">
      <div class="gamecard-outer flex">
        <img id="i<%= game[:iconid] %>" alt="icon" src="/images/B1cZjrwAuuPI9Cyd/blank.png"
          style="background:url(/images/wT9F00t1BuDE9wRx/icons<%= game[:iconid][1] != '0' ? game[:iconid][1].to_i + 1 : '' %>.png) <%= -64 * game[:iconid][4..5].to_i %>px <%= -64 * game[:iconid][2..3].to_i %>px">
        <div class="gamecard-inner flex">
          <span class="gamecard-subtext"><%= game[:year] %></span>
          <span class="gamecard-subtext"><%= game[:platform] %></span>
          <% if game[:dlc] or game[:hundo] or game[:plat] %>
            <span class="gamecard-icons">
              <% if game[:dlc] %>
                <span class="dlc">DLC</span>
              <% end %>
              <% if game[:hundo] %>
                <span class="hundo">100%</span>
              <% end %>
              <% if game[:plat] %>
                <img alt="plat" src="/images/wT9F00t1BuDE9wRx/plat.png">
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
      <span class="gamecard-title flex"><%= game[:title] %></span>
      <% rating = game[:rating] %>
      <% fullstars = rating.floor %>
      <% halfstar = (rating % 1 != 0 ? 1 : 0) %>
      <% emptystars = 5 - fullstars - halfstar %>
      <span class="gamecard-rating flex">
        <% fullstars.times { %><img src="/images/wT9F00t1BuDE9wRx/sf.png"><% } %>
        <% halfstar.times { %><img src="/images/wT9F00t1BuDE9wRx/sh.png"><% } %>
        <% emptystars.times { %><img src="/images/wT9F00t1BuDE9wRx/se.png"><% } %>
      </span>
      <span class="gamecard-playtext">
        <%= game[:hours] %> hours<% if game[:playthroughs] == 0 %> (incomplete)<% elsif game[:playthroughs] > 1 %>, played <%= game[:playthroughs] %> times<% end %>
      </span>
    </div>
  <% end %>
</div>
