---
title: Game Records
last_updated: November 9, 2025 at 2:07 PM
---

<link href="/stylesheets/game-records-style.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js" type="application/javascript"></script>
<script src="/javascripts/game-records.js" type="application/javascript"></script>

<div class="stat-container flex">
  <% stat_ratings = {5 => 0, 4.5 => 0, 4 => 0, 3.5 => 0, 3 => 0, 2.5 => 0, '&le; 2' => 0} %>
  <% stat_platforms = {"PlayStation 4 and 5" => 0, "PlayStation 1 and 2" => 0, "Nintendo DS/3DS" => 0, "Switch 1 and 2" => 0, "Wii and Wii U" => 0, "PC" => 0, "Other" => 0} %>
  <% stat_completion = {"100% Complete" => 0, "Platinum Trophy" => 0} %>

  <% data.games.each do |game| %>
    <% rating = game['Rating'].to_f %>
    <% platform = game['Platform'] %>
    <% if rating >= 5 %>
      <% stat_ratings[5] += 1 %>
    <% elsif rating >= 4.5 %>
      <% stat_ratings[4.5] += 1 %>
    <% elsif rating >= 4 %>
      <% stat_ratings[4] += 1 %>
    <% elsif rating >= 3.5 %>
      <% stat_ratings[3.5] += 1 %>
    <% elsif rating >= 3 %>
      <% stat_ratings[3] += 1 %>
    <% elsif rating >= 2.5 %>
      <% stat_ratings[2.5] += 1 %>
    <% else %>
      <% stat_ratings['&le; 2'] += 1 %>
    <% end %>

    <% if ["PlayStation 4", "PlayStation 5"].include?(platform) %>
      <% stat_platforms["PlayStation 4 and 5"] += 1 %>
    <% elsif ["PlayStation 1", "PlayStation 2"].include?(platform) %>
      <% stat_platforms["PlayStation 1 and 2"] += 1 %>
    <% elsif ["Nintendo 3DS", "Nintendo DS", "Nintendo DSi", "DSiWare"].include?(platform) %>
      <% stat_platforms["Nintendo DS/3DS"] += 1 %>
    <% elsif ["Nintendo Switch", "Nintendo Switch 2"].include?(platform) %>
      <% stat_platforms["Switch 1 and 2"] += 1 %>
    <% elsif ["Nintendo Wii", "Nintendo Wii U"].include?(platform) %>
      <% stat_platforms["Wii and Wii U"] += 1 %>
    <% else %>
      <% if stat_platforms.key?(platform) %>
        <% stat_platforms[platform] += 1 %>
      <% else %>
        <% stat_platforms["Other"] += 1 %>
      <% end %>
    <% end %>

    <% stat_completion["100% Complete"] += 1 if game['100%'] %>
    <% stat_completion["Platinum Trophy"] += 1 if game['Platinum'] %>
  <% end %>

  <div class="stat">
    <h2>Platforms</h2>
    <div class="flex">
      <div class="flex col" style="margin-right: 18px">
        <% stat_platforms.each do |platform, count| %>
          <b><%= "#{platform}:" %></b>
        <% end %>
      </div>
      <div class="flex col">
        <% stat_platforms.each do |platform, count| %>
          <span><%= "#{count}" %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="stat">
    <h2>Ratings</h2>
    <div class="flex">
      <div class="flex col" style="margin-right: 18px">
        <% stat_ratings.each do |rating, count| %>
          <b><%= "#{rating} stars:" %></b>
        <% end %>
      </div>
      <div class="flex col">
        <% stat_ratings.each do |rating, count| %>
          <span><%= "#{count}" %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="stat">
    <h2>Completion</h2>
    <div class="flex">
      <div class="flex col" style="margin-right: 18px">
        <% stat_completion.each do |completion, count| %>
          <b><%= "#{completion}:" %></b>
        <% end %>
      </div>
      <div class="flex col">
        <% stat_completion.each do |completion, count| %>
          <span><%= "#{count}" %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h2>All Games (<%= data.games.size %>)</h2>

<div class="flex" style="margin-bottom:16px;flex-wrap:wrap">
  <div>
    <label for="sortby">Sort games by:</label>
    <select name="sortby" id="sortby" style="margin-right:16px">
      <option selected="selected" value="titleAZ">Title A-Z</option>
      <option value="titleZA">Title Z-A</option>
      <option value="yearUp">Year (Ascending)</option>
      <option value="yearDown">Year (Descending)</option>
      <option value="ratingUp">Rating (Ascending)</option>
      <option value="ratingDown">Rating (Descending)</option>
      <option value="hoursUp">Hours (Ascending)</option>
      <option value="hoursDown">Hours (Descending)</option>
    </select>
  </div>
  <div>
    <label for="filter">Filter: </label>
    <select name="filter" id="filter" style="margin-right:16px">
      <option selected="selected" value="none">(None)</option>
      <option value="platform">Platform</option>
      <option value="rating">Rating</option>
      <option value="year">Release Year</option>
      <option value="hours">Hours Played</option>
      <option value="playthroughs">Playthroughs</option>
      <option value="hundo">100% Completion</option>
      <option value="plat">Platinum Trophy</option>
    </select>
  </div>
  <div>
    <label class="filterby" style="display:none" for="filterby">THISSHOULDNOTBEVISIBLE</label>
    <select name="filterby" class="filterby" style="display:none">
      <option selected="selected" value="itsnotworkingbud">None</option>
    </select>
  </div>
</div>

<div class="gamecard-container flex">
  <% data.games.each do |row| %>
    <%
      game = {
        title: row['Title'],
        year: row['Year'],
        platform: row['Platform'],
        rating: row['Rating'],
        hundo: row['100%'],
        plat: row['Platinum'],
        iconid: row['Icon ID'].rjust(6, '0'),
        hours: row['Hours Played'],
        playthroughs: row['Playthroughs'],
        dlc: row['DLC']
      }
    %>
    <div class="gamecard flex card">
      <div class="gamecard-outer flex">
        <img id="i<%= game[:iconid] %>" alt="icon" src="/images/blank.png"
          style="background:url(/images/icons<%= game[:iconid][1] != '0' ? game[:iconid][1].to_i + 1 : '' %>.png) <%= -64 * game[:iconid][4..5].to_i %>px <%= -64 * game[:iconid][2..3].to_i %>px">
        <div class="gamecard-inner flex">
          <span class="gamecard-subtext"><%= game[:year] %></span>
          <span class="gamecard-subtext"><%= game[:platform] %></span>
          <% if game[:dlc] or game[:hundo] or game[:plat] %>
            <span class="gamecard-icons">
              <% if game[:dlc] %>
                <span class="dlc">DLC</span>
              <% end %>
              <% if game[:hundo] %>
                <span class="hundo">100%</span>
              <% end %>
              <% if game[:plat] %>
                <img alt="plat" src="/images/plat.png">
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
      <span class="gamecard-title flex"><%= game[:title] %></span>
      <% rating = game[:rating] %>
      <% fullstars = rating.floor %>
      <% halfstar = (rating % 1 != 0 ? 1 : 0) %>
      <% emptystars = 5 - fullstars - halfstar %>
      <span class="gamecard-rating flex">
        <% fullstars.times { %><img src="/images/sf.png"><% } %>
        <% halfstar.times { %><img src="/images/sh.png"><% } %>
        <% emptystars.times { %><img src="/images/se.png"><% } %>
      </span>
      <span class="gamecard-playtext">
        <%= game[:hours] %> hours<% if game[:playthroughs] == 0 %> (incomplete)<% elsif game[:playthroughs] > 1 %>, played <%= game[:playthroughs] %> times<% end %>
      </span>
    </div>
  <% end %>
</div>
