---
title: Kingdom Hearts Melody of Memory Scores
last_updated: February  3, 2024 at 5:02 PM
---

<link href="/stylesheets/khmom-scores-style.css" rel="stylesheet" type="text/css">
<p> </p>
<h2 style="display:inline">Navigate by Series</h2>
<p id="navseries">
  <% last_series = "" %>
  <% series_index = 0 %>
  <% content = [] %>
  <% data.khmomscores.each do |song| %>
    <% if song["Series"] != last_series %>
      <% last_series = song["Series"] %>
      <% content << "<a href=\"#qn-s#{series_index}\">#{song["Series"]}</a><br>" %>
      <% series_index += 1 %>
    <% end %>
  <% end %>
  <%= content.join.html_safe %>
</p>

<div class="songcard-container flex col">
  <% last_series = "" %>
  <% series_index = 0 %>
  <% data.khmomscores.each do |song| %>
    <% if last_series != song["Series"] %>
      <% last_series = song["Series"] %>
      <% series_anchor = "<span class=\"qn-link\" id=\"qn-s#{series_index}\"></span>" %>
      <% series_index += 1 %>
    <% else %>
      <% series_anchor = '' %>
    <% end %>
    <% song_type_span = song["Type"] == "Field" ? '' : "<span class=\"songcard-#{song["Type"].downcase}\">#{song["Type"]}</span>" %>
    <div class="songcard flex col">
      <%= series_anchor.html_safe %>
      <span class="songcard-title flex">
        <%= song["Song Title"] %><%= song_type_span.html_safe %>
      </span>
      <span class="songcard-series"><%= song["Series"] %></span>
      <div class="songcard-scores flex">
        <span class="songcard-beginner"><%= song["Beginner"] %></span>
        <span class="songcard-standard"><%= song["Standard"] %></span>
        <span class="songcard-proud"><%= song["Proud"] %></span>
      </div>
    </div>
  <% end %>
</div>
